<div class="menu-container">
  <nav class="menu-nav">
    <ul class="menu-list">
      {{ range .Site.Menus.main.ByWeight }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
        <li><a href='{{ absURL "index.xml" }}'>RSS</a></li>

      <!-- Convert this page's translations into a dict -->
      {{ $translations := dict }}
      {{ range .Translations }}
        {{ $translations = merge $translations (dict .Language.Lang .) }}
      {{ end }}

      <!-- Create a link to every translation -->
      {{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
        {{ with (index $translations .Lang) }}
          <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
        {{ else }}
          <!-- The complicated setup was necessary to make a grayed out link -->
          {{ if not .Params.hideUntranslated }}
            <li><a class="disabled" role="link" aria-disabled="true">{{ .LanguageName }}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</div>
